services:
    estructura:
        image: gestion_academica
        networks:
          - mired
        ports:
          - 5000:5000
        environment:
          - FLASK_CONTEXT=${FLASK_CONTEXT}
          - SQLALCHEMY_TRACK_MODIFICATIONS=${SQLALCHEMY_TRACK_MODIFICATIONS}  
          - SQLALCHEMY_RECORD_QUERIES=${SQLALCHEMY_RECORD_QUERIES}
          - PROD_DATABASE_URI=${PROD_DATABASE_URI}
        labels:
          - "traefik.enable=true"

          # Router
          - "traefik.http.routers.estructura.rule=Host(`universidad.localhost`)"
          - "traefik.http.routers.estructura.entrypoints=https"
          - "traefik.http.routers.estructura.tls=true"

          # Servicio que apunta al contenedor Flask
          - "traefik.http.services.estructura.loadbalancer.server.port=5000"
networks:
    mired:
        external: true
